    <%- include('partials/_head'); %>
    
    <link href="/css/createuser.css" rel="stylesheet">
    <link href="/img/ICONO_LF.ico" rel="icon">
    </head>

<body>

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img class="mb-1 rounded" src="/img/NF-LOGO.jpeg" alt="" width="200" height="75">

<%- include('partials/_header'); %>

<main>
    <div class="container">
        <form class="row g-2 col-lg-12 shadow p-2 needs-validation text-primary" novalidate action="/edituser/<%= user.id %>" method="POST">
            <div class="bg-primary text-white p-1 text-center">
                <h3>Modificar Usuario</h3>
            </div>
            <div class="col-lg-5 col-md-12 position-relative">
                <label for="apelNombre" class="form-label">Apellido y Nombres</label>
                <input id="apelNombre" name="apelNombre" type="text" value="<%= user.ApelNombre %>" class="form-control" autocomplete="name">
                <div class="invalid-tooltip">Debe ingresar el apellido y nombres</div>
            </div>
            <div class="col-lg-3 col-md-12 position-relative">
                <label for="telefono" class="form-label">Teléfono</label>
                <input id="telefono" name="telefono" type="tel" value="<%= user.Telefono %>" class="form-control" required autocomplete="tel">
                <div class="invalid-tooltip">Debe ingresar un teléfono de contacto</div>
            </div>
            <div class="col-lg-4 col-md-12 position-relative">
                <label for="email" class="form-label">Email</label>
                <input id="email" name="email" type="email" value="<%= user.Email %>" class="form-control" required autocomplete="email">
                <div class="invalid-tooltip">Debe ingresar un correo electrónico</div>
            </div>
            <div class="col-md-8 position-relative">
                <label for="nronodo" class="form-label">Nodo del Usuario</label>
                <select id="nronodo" name="nronodo" value="<%= user.Nodo %>" class="form-select" autocomplete="off">
                    <option value="<%= user.NombreNodo %>"><%= user.NombreNodo %></option>
                    <% if (typeof filas !== 'undefined' && filas.length > 0) { %>
                        <% filas.forEach((nodo) => { %>
                            <option value="<%= nodo.NroNodo %> - <%= nodo.Nombre %>"><%= nodo.NroNodo %> - <%= nodo.Nombre %></option>
                        <% }); %>
                    <% } %>
                </select>
            </div>
            <div class="col-md-4 position-relative">
                <label for="rol" class="form-label">Rol de Usuario</label>
                <select id="rol" name="rol" value="<%= user.Rol %>" class="form-select" autocomplete="off">
                    <option value="<%= user.Rol %>"><%= user.Rol %></option>
                    <option value="Socio">Socio</option>
                    <option value="Nodo">Nodo</option>
                    <option value="Admin">Admin</option>
                </select>
            </div>
            <div class="col-md-12 col-lg-5 position-relative">
                <label for="usuario" class="form-label">Usuario</label>
                <input id="usuario" name="usuario" type="text" value="<%= user.Usuario %>" class="form-control" required autocomplete="username">
                <div class="invalid-tooltip">Debe ingresar el nombre del usuario para el sistema</div>
            </div>
            <div class="col-md-12 col-lg-5 position-relative">
                <label for="password" class="form-label">Contraseña</label>
                <input id="password" name="password" type="password" value="<%= user.Password %>" class="form-control" required autocomplete="current-password">
                <div class="invalid-tooltip">Debe ingresar la contraseña del usuario</div>
            </div>
            <div class="col-lg-1 col-md-6 position-relative">
                <label for="activo" class="form-check-label">Activo?</label>
                <input id="activo" name="activo" type="checkbox" value="<%= user.Activo %>" class="form-check-input p-4 position-relative">
            </div>

            <div class="bg-transparent borde-primary">
                <button type="submit" class="btn btn-primary">Modificar</button>
                <a href="/usuarios" type="button" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</main>

<%- include('partials/_footer'); %>

<script>
    // Activar el checkbox según el valor de data.Activo
    document.addEventListener('DOMContentLoaded', (event) => {
        const activoCheckbox = document.getElementById('activo');
        if (<%- JSON.stringify(user.Activo) %> === 1) {
            activoCheckbox.checked = true;
        } else {
            activoCheckbox.checked = false;
        }
    });

    // Cambiar el valor del checkbox activo antes de enviar el formulario
    document.querySelector('form').addEventListener('submit', (event) => {
        const activoCheckbox = document.getElementById('activo');
        if (!activoCheckbox.checked) {
            activoCheckbox.value = '0';
        } else {
            activoCheckbox.value = '1';
        }
    });
</script>

</body>

</html>