    <%- include('partials/_head'); %>
    
    <link href="/css/createnodo.css" rel="stylesheet">
    <link href="/img/ICONO_LF.ico" rel="icon">
</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img class="mb-1 rounded" src="/img/NF-LOGO.jpeg" alt="" width="200" height="75">

<%- include('partials/_header'); %>

<main>
    <div class="container">
        <form class="row g-3 col-lg-12 shadow p-1 needs-validation text-primary" novalidate action="/editnodo/<%= data.id %>" method="POST">
            <div class="bg-primary text-white p-1 text-center">
                <h3>Modificar Nodo</h3>
            </div>
            <div>
                <input id="nombrelocal" name="nombrelocal" type="hidden">
                <input id="nombreprov" name="nombreprov" type="hidden">
            </div>
            <div class="col-lg-2 col-md-2 position-relative">
                <label for="nroNodo" class="form-label">Número</label>
                <input id="nroNodo" name="nroNodo" type="number" value="<%= data.NroNodo %>" class="form-control" disabled>
                <div class="invalid-tooltip">Debe ingresar un número de nodo</div>
            </div>
            <div class="col-lg-2 col-md-2 position-relative">
                <label for="nroFactura" class="form-label">Facturación</label>
                <input id="nroFactura" name="nroFactura" type="number" value="<%= data.NroFactura %>" class="form-control" disabled>
                <div class="invalid-tooltip">Debe ingresar el número para facturar</div>
            </div>
            <div class="col-lg-4 col-md-6 position-relative">
                <label for="nombre" class="form-label">Nombre</label>
                <input id="nombre" name="nombre" type="text" value="<%= data.Nombre %>" class="form-control">
                <div class="invalid-tooltip">Debe ingresar el nombre del nodo</div>
            </div>
            <div class="col-lg-4 col-md-12 position-relative">
                <label for="domicilio" class="form-label">Domicilio</label>
                <input id="domicilio" name="domicilio" type="text" value="<%= data.Domicilio %>" class="form-control">
                <div class="invalid-tooltip">Debe ingresar un domicilio</div>
            </div>
            <div class="col-lg-5 col-md-5 position-relative">
                <label for="provincia" class="form-label">Provincia</label>
                <select id="provincia" name="provincia" class="form-select" required>
                    <option value="<%= data.idProv %>"><%= data.Provincia %></option>
                    <option value="6">BUENOS AIRES</option>
                    <option value="2">CABA</option>
                    <option value="10">CATAMARCA</option>
                    <option value="22">CHACO</option>
                    <option value="26">CHUBUT</option>
                    <option value="18">CORRIENTES</option>
                    <option value="14">CORDOBA</option>
                    <option value="30">ENTRE RIOS</option>
                    <option value="34">FORMOSA</option>
                    <option value="38">JUJUY</option>
                    <option value="42">LA PAMPA</option>
                    <option value="46">LA RIOJA</option>
                    <option value="50">MENDOZA</option>
                    <option value="54">MISIONES</option>
                    <option value="58">NEUQUEN</option>
                    <option value="62">RIO NEGRO</option>
                    <option value="70">SAN JUAN</option>
                    <option value="74">SAN LUIS</option>
                    <option value="66">SALTA</option>
                    <option value="78">SANTA CRUZ</option>
                    <option value="82">SANTA FE</option>
                    <option value="86">SANTIAGO DEL ESTERO</option>
                    <option value="94">TIERRA DEL FUEGO</option>
                    <option value="90">TUCUMAN</option>
                </select>
            </div>
            <div class="col-lg-5 col-md-5 position-relative">
                <label for="localidad" class="form-label">Localidad</label>
                <select id="localidad" name="localidad" type="text" class="form-select" value="<%= data.Localidad %>" required>
                    <option value="<%= data.idLocal %>"><%= data.Localidad %></option>
                </select>
                <div class="invalid-tooltip">Debe ingresar una localidad</div>
            </div>
            <div class="col-lg-2 col-md-2 position-relative">
                <label for="codpostal" class="form-label">Código Postal</label>
                <select id="codpostal" name="codpostal" type="number" class="form-select" value="<%= data.CodPostal %>" required>
                    <option value="<%= data.CodPostal %>"><%= data.CodPostal %></option>
                </select>
                <div class="invalid-tooltip">Debe ingresar un Código Postal</div>
            </div>
            <div class="col-lg-3 col-md-6 position-relative">
                <label for="telefono" class="form-label">Teléfono</label>
                <input id="telefono" name="telefono" type="tel" value="<%= data.Telefono %>" class="form-control">
                <div class="invalid-tooltip">Debe ingresar un teléfono</div>
            </div>
            <div class="col-lg-3 col-md-6 position-relative">
                <label for="email" class="form-label">Email</label>
                <input id="email" name="email" type="email" value="<%= data.Email %>" class="form-control">
                <div class="invalid-tooltip">Debe ingresar un correo electrónico</div>
            </div>
            <div class="col-lg-3 col-md-6 position-relative">
                <label for="cuit" class="form-label">C.U.I.T.</label>
                <input id="cuit" name="cuit" type="number" value="<%= data.Cuit %>" class="form-control">
                <div class="invalid-tooltip">Debe ingresar un C.U.I.T.</div>
            </div>
            <div class="col-lg-2 col-md-6 position-relative">
                <label for="tipo" class="form-label">Tipo I.V.A.</label>
                <select id="tipo" name="tipo" value="<%= data.Tipo %>" class="form-select">
                    <option value="<%= data.Tipo %>"><%= data.Tipo %></option>
                    <option value="Consumidor Final">Consumidor Final</option>
                    <option value="Exento">Exento</option>
                    <option value="Monotributo">Monotributo</option>
                    <option value="No Responsable">No Responsable</option>
                    <option value="Resp. Inscripto">Resp. Inscripto</option>
                </select>
                <div class="invalid-tooltip">Debe ingresar posición frente al I.V.A.</div>
            </div>
            <div class="col-lg-1 col-md-6 position-relative">
                <label for="activo" class="form-check-label">Activo?</label>
                <input id="activo" name="activo" type="checkbox" value="<%= data.Activo %>" class="form-check-input p-4 position-relative">
            </div>

            <div class="bg-transparent borde-primary">
                <button type="submit" class="btn btn-primary">Modificar</button>
                <a href="/nodos" type="button" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>    
</main>

<%- include('partials/_footer'); %>

<script>
    // Activar el checkbox según el valor de data.Activo
    document.addEventListener('DOMContentLoaded', (event) => {
        const activoCheckbox = document.getElementById('activo');
        if (<%- JSON.stringify(data.Activo) %> === 1) {
            activoCheckbox.checked = true;
        } else {
            activoCheckbox.checked = false;
        }
    });

    // Cambiar el valor del checkbox activo antes de enviar el formulario
    document.querySelector('form').addEventListener('submit', (event) => {
        const activoCheckbox = document.getElementById('activo');
        if (!activoCheckbox.checked) {
            activoCheckbox.value = '0';
        } else {
            activoCheckbox.value = '1';
        }
    });

    <!-- // Script para seleccionar la provincia y la localidad -->
    document.getElementById('provincia').addEventListener('change', function() {
        const idProv = this.value;
        const nombreProv = this.options[this.selectedIndex].text;
        const localidadSelect = document.getElementById('localidad');
        document.getElementById('nombreprov').value = nombreProv;

        // Limpiar las opciones de localidad
        localidadSelect.innerHTML = '<option selected disabled>Elige una Localidad...</option>';

        // Hacer una solicitud AJAX para obtener las localidades
        fetch(`/localidades/${idProv}`)
            .then(response => response.json())
            .then(data => {
                data.forEach(localidad => {
                    const option = document.createElement('option');
                    option.value = localidad.id_Local;
                    option.textContent = localidad.Localidad;
                    localidadSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error al obtener las localidades:', error));
    });

    document.getElementById('localidad').addEventListener('change', function() {
        const idLocal = this.value;
        const nombreLocal = this.options[this.selectedIndex].text;
        const codpostalSelect = document.getElementById('codpostal');
        document.getElementById('nombrelocal').value = nombreLocal;

        // Limpiar las opciones de códigos postales
        codpostalSelect.innerHTML = '<option selected disabled>Elige un Código Postal...</option>';

        // Hacer una solicitud AJAX para obtener las localidades
        fetch(`/codpostal/${idLocal}`)
            .then(response => response.json())
            .then(data => {
                data.forEach(codigos => {
                    const option = document.createElement('option');
                    option.value = codigos.CodPostal;
                    option.textContent = codigos.CodPostal;
                    codpostalSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error al obtener los códigos postales:', error));
    });

</script>


</body>

</html>